.header {
  background-color: #FFF;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center; }
  .navbar .navbar_link {
    padding-left: 30px;
    text-decoration: none;
    color: #000; }
  .navbar .navbar-list {
    list-style: none;
    display: flex;
    flex-direction: row; }
    .navbar .navbar-list li {
      display: block;
      padding: 8px 16px; }
      .navbar .navbar-list li:hover {
        background-color: #9b9999; }
      .navbar .navbar-list li .navbar-list-item {
        text-decoration: none;
        color: black; }

.background-container {
  max-width: 100%;
  height: 800px;
  background-image: url("../assets/img/architect.jpg");
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px; }
  .background-container div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    letter-spacing: 4px;
    color: white; }
    .background-container div .span-1 {
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0.685);
      padding: 15px 5px !important; }
    .background-container div .span-2 {
      font-size: 24px;
      padding-left: 15px;
      font-weight: normal; }

.house-section {
  padding: 30px !important; }
  .house-section .project-container h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px; }

.house-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding-top: 30px; }
  .house-container div {
    padding-bottom: 10px; }
    .house-container div img {
      width: 100%; }
    .house-container div p {
      position: absolute;
      background-color: black;
      color: #FFF;
      padding: 10px; }

.house-container > div {
  height: 200px;
  font-size: 5vw;
  text-align: center; }

.about-container {
  padding: 60px 0 30px !important; }
  .about-container div h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 15px 0;
    font-size: 24px; }
  .about-container div p {
    padding-top: 20px; }

.architects-conatainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding-top: 30px; }

.architects-conatainer > div {
  height: 200px;
  font-size: 5vw; }
  .architects-conatainer > div img {
    width: 100%; }
  .architects-conatainer > div h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px; }
  .architects-conatainer > div small {
    color: gray; }
  .architects-conatainer > div button {
    width: 100%;
    height: 40px;
    border: none; }
    .architects-conatainer > div button:hover {
      background-color: #c9cbcc;
      cursor: pointer; }

.contact-form {
  padding-top: 150px; }
  .contact-form div h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px; }

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding-top: 30px; }
  .container .form {
    display: flex;
    flex-direction: column;
    margin-top: 15px; }
    .container .form .form-input {
      margin-bottom: 20px;
      padding: 8px 16px;
      font-size: 16px; }
    .container .form .form-button {
      display: inline-block;
      width: fit-content;
      font-size: 16px;
      border: 0;
      padding: 8px 16px;
      background-color: black;
      color: white; }
      .container .form .form-button:hover {
        background-color: #b6b6b6;
        color: black; }

.map-container {
  margin-top: 30px; }
  .map-container img {
    width: 100%;
    height: 800px; }

.footer {
  background-color: black;
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: center;
  color: white; }
  .footer p a {
    color: white; }
    .footer p a:hover {
      color: green; }

* {
  margin: 0;
  padding: 0;
  font-size: 15px; }

html body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5; }
